<div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat quae eius tenetur laudantium iusto harum? Eum, beatae rem porro voluptatum, nesciunt obcaecati voluptatibus maiores praesentium iure, earum excepturi aliquam!</p>
</div>