<div class="frame">
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/nischay-sharma-19a6531b1/">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/happy.farmers.334/">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/nishuns9412/">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    <img class="frame_img" src= <%= images.main %> alt="Jennifer Lawrence" />
</div>
