<div class="information">
    <ul class="information_list">
        <li class="information_list_item"> Height: 1.79m </li>
        <li class="information_list_item"> Weight: 54Kg </li>
        <li class="information_list_item"> Age: 47 </li>
        <li class="information_list_item"> Hair : Blonde</li>
        <li class="information_list_item"> Eye: Blue</li>
    </ul>
</div>