<div class="information">
    <ul>
        <li> Height: 1.79m |</li>
        <li> Weight: 54Kg |</li>
        <li> Age: 47 |</li>
        <li> Hair : Blonde</li>
        <li> Eye: Blue</li>
    </ul>
</div>