<div class="model_name">
    <h1 class="model_name_h1">
        JENNIFER LAWRENCE
    </h1>
    
    <div class="tick">
        <img class="tick_icon" src="/images/models/blue_tick.png" alt="confidential">
</div>

</div>