<div class="past-work">
    
    <h2>PAST WORK</h2>

    <div class="scrollmenu">
        <img src="/images/models/6.jpg" >
        <img src="/images/models/7.jpg" >
        <img src="/images/models/8.jpg" >
        <img src="/images/models/9.jpg" >
        <img src="/images/models/10.jpg" >
    </div>

</div>