<div class="past-work">
    
    <h2 class="scrollmenu_title" >PAST WORK</h2>

    <div class="scrollmenu">
        <img class="myImg" src="/images/models/6.jpg" >
        <img class="myImg" src="/images/models/7.jpg" >
        <img class="myImg" src="/images/models/8.jpg" >
        <img class="myImg" src="/images/models/9.jpg" >
        <img class="myImg" src="/images/models/10.jpg" >
    </div>

    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>
      
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
      
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>

</div>