<div class="photo-shoot">

    <h2>PHOTO SHOOT</h2>
    <div class="scrollmenu">
        <img src="/images/models/1.jpg" >
        <img src="/images/models/2.jpg" >
        <img src="/images/models/3.jpg" >
        <img src="/images/models/4.jpg" >
        <img src="/images/models/5.jpg" >
      </div>

</div>